/* PALETA DE COLORES PERSONALIZADA PARA COREFIX */
:root {
    --azulCielo: #38bdf8;
    --azulMarino: #0f172a;
    --azulMedia: #1e3a8a;
}

/* Clases de utilidad extendidas */
.text-azulCielo {
    color: var(--azulCielo);
}
.bg-azulCielo {
    background-color: var(--azulCielo);
}
.bg-azulMarino {
    background-color: var(--azulMarino);
}

/* Efectos visuales de las secciones */
.card-servicio:hover {
    transform: translateY(-4px);
    border-color: var(--azulCielo);
    box-shadow: 0 10px 15px -3px rgba(56, 189, 248, 0.1);
}

.card-servicio {
    transition: all 0.3s ease;
}

/* Ajustes finos para la carga de imágenes */
img {
    transition: transform 0.5s ease;
}
.group:hover img {
    transform: scale(1.05);
}